<style>
    @media not print {
        .app-sprite img.decoded {
            background: none !important;
        }
    }
</style>
<template id="app-sprite-tpl">
    <div class="app-sprite"></div>
</template>
<script>
    $app.defineComponent('app-sprite', () => {
        const spritesheetPromises = {};
        const getSpritesheetWidth = async (src) => {
            if (spritesheetPromises[src] !== undefined) {
                return spritesheetPromises[src];
            }

            return spritesheetPromises[src] = new Promise((res, rej) => {
                const img = new Image();
                img.src = src;
                img.onload = () => res(img.width);
                img.onerror = (e) => {
                    delete spritesheetPromises[src];
                    rej(e);
                };
            });
        }

        const mediaQueries = $app.mediaQueries;
        const template = document.getElementById('app-sprite-tpl');

        return class extends HTMLElement {
            static get observedAttributes() {
                const scales = Object.keys(mediaQueries).map(code => `scale-${code}`);
                return ['index', 'src', 'size', 'scale', ...scales];
            }

            attributeChangedCallback() {
                this.update();
            }

            connectedCallback() {
                this.append(template.content.cloneNode(true));
                this.update();
            }

            async update() {
                const spriteEl = this.querySelector('div');
                if (!spriteEl) {
                    return;
                }

                const index = this.index;
                const size = this.size;
                const src = this.src;
                const scale = this.scale;

                spriteEl.style.width = `${size * scale}px`;
                spriteEl.style.height = `${size * scale}px`;
                spriteEl.style.backgroundColor = 'transparent';

                const spritesheetWidth = await getSpritesheetWidth(src);
                spriteEl.style.backgroundSize = `${scale * spritesheetWidth}px`;
                spriteEl.style.backgroundImage = `url(${src})`;
                spriteEl.style.backgroundPosition = `-${index * size * scale}px 0px`;

            }

            get index() {
                const index = parseInt(this.getAttribute('index') ?? 0);
                if (isNaN(index) || index < 0) {
                    return 0;
                }
                return index;
            }

            get size() {
                const size = parseInt(this.getAttribute('size') ?? 0);
                if (isNaN(size) || size < 0) {
                    return 0;
                }
                return size;
            }

            get scale() {
                let scale = this.getAttribute('scale') ?? 1.0;
                for (let code in mediaQueries) {
                    if (mediaQueries[code].matches && this.hasAttribute(`scale-${code}`)) {
                        scale = this.getAttribute(`scale-${code}`);
                    }
                }

                scale = parseFloat(scale);
                if (isNaN(scale)) {
                    return 1.0;
                }
                return scale;
            }

            get src() {
                return this.getAttribute('src') ?? '';
            }
        }
    });
</script>
